In [ ]:
import mysql.connector as connector

connection = connector.connect(user="root", password="")

# define a cursor again
cursor = connection.cursor()

#cursor.execute("CREATE DATABASE little_lemon_db")

cursor.execute("USE little_lemon_db")

#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(50),
Role VARCHAR(50),
Address VARCHAR(70),
Contact_Number INT,
Email VARCHAR(50),
Annual_Salary VARCHAR(60)
);"""
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

insert_menuitmes="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""
#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""
#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""
#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary) values
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

# Populate MenuItems table
cursor.execute(insert_menuitmes)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

In [8]:
import mysql.connector
from mysql.connector import Error
from mysql.connector.pooling import MySQLConnectionPool

# Step one: Import MySQLConnectionPool

# Step two: Import Error

try:
    # Step three: Create a pool named pool_a with two connections. Use a try-except block to handle any possible errors.
    dbconfig = {"database": "little_lemon_db", "user": "root", "password": ""}
    pool_a = MySQLConnectionPool(pool_name="pool_a", pool_size=2, **dbconfig)

    # Step four: Obtain a connection from pool_a and create a cursor object to communicate with the database.
    connection = pool_a.get_connection()
    cursor = connection.cursor()

    # Now you can use the cursor object to execute SQL queries and interact with the database.
    # For example:
    cursor.execute("SELECT * FROM Employees")
    result = cursor.fetchall()
    for row in result:
        print(row)

    # Close the cursor and connection after use
    cursor.close()
    connection.close()

except Error as e:
    print("Error while connecting to MySQL:", e)

(1, 'Mario Gollini', 'Manager', '724, Parsley Lane, Old Town, Chicago, IL', 351258074, 'Mario.g@littlelemon.com', '$70,000')
(2, 'Adrian Gollini', 'Assistant Manager', '334, Dill Square, Lincoln Park, Chicago, IL', 351474048, 'Adrian.g@littlelemon.com', '$65,000')
(3, 'Giorgos Dioudis', 'Head Chef', '879 Sage Street, West Loop, Chicago, IL', 351970582, 'Giorgos.d@littlelemon.com', '$50,000')
(4, 'Fatma Kaya', 'Assistant Chef', '132  Bay Lane, Chicago, IL', 351963569, 'Fatma.k@littlelemon.com', '$45,000')
(5, 'Elena Salvai', 'Head Waiter', '989 Thyme Square, EdgeWater, Chicago, IL', 351074198, 'Elena.s@littlelemon.com', '$40,000')
(6, 'John Millar', 'Receptionist', '245 Dill Square, Lincoln Park, Chicago, IL', 351584508, 'John.m@littlelemon.com', '$35,000')

In [18]:
import mysql.connector

# Step three: Invoke callproc to call the stored procedure.

try:
    # Database configurations
    dbconfig = {
        "database": "little_lemon_db",
        "user": "root",
        "password": ""
    }

    # Connect to the database
    connection = mysql.connector.connect(**dbconfig)

    # Create a cursor object
    cursor = connection.cursor()

    # Step two: Run the stored procedure query by invoking execute module on the cursor.
    #cursor.execute("CREATE PROCEDURE PeakHours() BEGIN SELECT HOUR(BookingSlot) AS Hour, COUNT(*) AS Bookings FROM Bookings GROUP BY Hour ORDER BY Bookings DESC; END;")

    # Step three: Invoke callproc to call the stored procedure.
    cursor.callproc("PeakHours")

    # Step four: Fetch the results in a variable called dataset.
    dataset = cursor.stored_results()

        # Step four: Fetch the results in a variable called dataset.
    dataset = list(cursor.stored_results())[0]

    # Step five: Extract the names of the columns.
    columns = [desc[0] for desc in dataset.description]

    # Step six: Print the names of the columns.
    print("Column names:", columns)

    # Step seven: Print the sorted data using a for loop.
    for row in dataset.fetchall():
        print(row)

    # Close the cursor and connection
    cursor.close()
    connection.close()

except mysql.connector.Error as err:
    print("Error:", err)

Column names: ['Hour', 'Bookings']
(19, 5)
(18, 4)
(15, 1)
(17, 1)
(20, 1)

In [19]:
import mysql.connector

# Define your database configurations as a Python dictionary
dbconfig = {
    "database": "little_lemon_db",
    "user": "root",
    "password": "",
}

try:
    # Establish a connection
    connection = mysql.connector.connect(**dbconfig)

    # Create a cursor object to communicate with the database
    cursor = connection.cursor()

    # Query 1: The name and EmployeeID of the Little Lemon manager
    cursor.execute("SELECT Name, EmployeeID FROM Employees WHERE Role = 'Manager'")
    manager_info = cursor.fetchone()
    print("Little Lemon Manager:")
    print("Name:", manager_info[0])
    print("EmployeeID:", manager_info[1])
    print()

    # Query 2: The name and role of the employee who receives the highest salary
    cursor.execute("SELECT Name, Role FROM Employees WHERE Annual_Salary = (SELECT MAX(Annual_Salary) FROM Employees)")
    highest_salary_employee = cursor.fetchone()
    print("Employee with the Highest Salary:")
    print("Name:", highest_salary_employee[0])
    print("Role:", highest_salary_employee[1])
    print()

    # Query 3: The number of guests booked between 18:00 and 20:00
    cursor.execute("SELECT COUNT(*) FROM Bookings WHERE TIME(BookingSlot) BETWEEN '18:00' AND '20:00'")
    number_of_guests = cursor.fetchone()[0]
    print("Number of Guests booked between 18:00 and 20:00:", number_of_guests)
    print()

    # Query 4: The full name and BookingID of all guests waiting to be seated with the receptionist
    cursor.execute("SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName, BookingID FROM Bookings  ORDER BY BookingSlot")
    waiting_guests = cursor.fetchall()
    print("Guests Waiting to be Seated:")
    for guest in waiting_guests:
        print("FullName:", guest[0])
        print("BookingID:", guest[1])
        print()

    # Close the cursor and connection
    cursor.close()
    connection.close()

except mysql.connector.Error as err:
    print("Error:", err)

Little Lemon Manager:
Name: Mario Gollini
EmployeeID: 1

Employee with the Highest Salary:
Name: Mario Gollini
Role: Manager

Number of Guests booked between 18:00 and 20:00: 9

Guests Waiting to be Seated:
FullName: Vanessa McCarthy
BookingID: 3

FullName: Marcos Romero
BookingID: 4

FullName: Anees Java
BookingID: 7

FullName: Anees Java
BookingID: 9

FullName: Anees Java
BookingID: 11

FullName: Hiroki Yamane
BookingID: 5

FullName: Anna Iversen
BookingID: 1

FullName: Joakim Iversen
BookingID: 2

FullName: Bald Vin
BookingID: 8

FullName: Bald Vin
BookingID: 10

FullName: Bald Vin
BookingID: 12

FullName: Diana Pinto
BookingID: 6

In [21]:
import mysql.connector
from mysql.connector import Error
from mysql.connector.pooling import MySQLConnectionPool

try:
    # Step 1: Define your database configurations as a Python dictionary object called dbconfig.
    dbconfig = {
        "database": "little_lemon_db",
        "user": "root",
        "password": "",
        #"host": "localhost",  # Change to your database host if not running locally.
    }

    # Step 2: Create a connection pool named pool_b with two connections.
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)

    # Step 3: Implement error handling using a try-except block to handle connection failures.
    connection = None
    try:
        connection = pool_b.get_connection()

        # Add your database operations here using the 'connection' object.
        # For example, you can execute queries, fetch data, etc.

        # Don't forget to close the connection when you're done with it.
        # connection.close()

    except Error as e:
        print("Error while connecting to MySQL:", e)

    finally:
        # Always make sure to close the connection, even if an error occurs.
        if connection is not None:
            connection.close()

except Error as e:
    print("Error while connecting to MySQL:", e)

In [22]:
import mysql.connector
from mysql.connector import Error
from mysql.connector.pooling import MySQLConnectionPool

try:
    # Step 1: Define your database configurations as a Python dictionary object called dbconfig.
    dbconfig = {
        "database": "little_lemon_db",
        "user": "root",
        "password": "",
        "host": "localhost",  # Change to your database host if not running locally.
    }

    # Step 2: Create a connection pool named pool_b with two connections.
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)

    # Step 3: Get connections from the pool and insert data for the three guests.
    try:
        # Guest 1
        connection1 = pool_b.get_connection()
        insert_query1 = """
        INSERT INTO Bookings (TableNumber, GuestFirstName, GuestLastName, BookingTime, EmployeeID)
        VALUES (%s, %s, %s, %s, %s)
        """
        data1 = (8, "Anees", "Java", "18:00", 6)
        cursor1 = connection1.cursor()
        cursor1.execute(insert_query1, data1)
        connection1.commit()
        cursor1.close()

        # Guest 2
        connection2 = pool_b.get_connection()
        insert_query2 = """
        INSERT INTO Bookings (TableNumber, GuestFirstName, GuestLastName, BookingTime, EmployeeID)
        VALUES (%s, %s, %s, %s, %s)
        """
        data2 = (5, "Bald", "Vin", "19:00", 6)
        cursor2 = connection2.cursor()
        cursor2.execute(insert_query2, data2)
        connection2.commit()
        cursor2.close()

        # Guest 3
        connection3 = pool_b.get_connection()
        insert_query3 = """
        INSERT INTO Bookings (TableNumber, GuestFirstName, GuestLastName, BookingTime, EmployeeID)
        VALUES (%s, %s, %s, %s, %s)
        """
        data3 = (12, "Jay", "Kon", "19:30", 6)
        cursor3 = connection3.cursor()
        cursor3.execute(insert_query3, data3)
        connection3.commit()
        cursor3.close()

    except mysql.connector.errors.PoolError as e:
        print("PoolError:", e)
        print("Returning the connections back to the pool...")

    finally:
        # Step 4: Return all the connections back to the pool.
        if connection1 is not None:
            connection1.close()
        if connection2 is not None:
            connection2.close()
        if connection3 is not None:
            connection3.close()

except Error as e:
    print("Error while connecting to MySQL:", e)

Error while connecting to MySQL: Failed adding connection; queue is full

In [24]:
import mysql.connector
from mysql.connector import Error
from mysql.connector.pooling import MySQLConnectionPool

try:
    # Step 1: Define your database configurations as a Python dictionary object called dbconfig.
    dbconfig = {
        "database": "little_lemon_db",
        "user": "root",
        "password": "",
        "host": "localhost",  # Change to your database host if not running locally.
    }

    # Step 2: Create a connection pool named pool_b with two connections.
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)

    # Step 3: Get a connection from the pool and fetch the Little Lemon manager's information.
    try:
        connection = pool_b.get_connection()
        query_manager_info = """
        SELECT Name AS ManagerName, EmployeeID
        FROM Employees
        WHERE Role = 'Manager'
        """
        cursor = connection.cursor()
        cursor.execute(query_manager_info)
        manager_info = cursor.fetchone()

        if manager_info:
            manager_name, manager_employee_id = manager_info
            print("Little Lemon Manager:")
            print("Name:", manager_name)
            print("EmployeeID:", manager_employee_id)
        else:
            print("No manager found.")

    except mysql.connector.errors.PoolError as e:
        print("PoolError:", e)

    finally:
        if connection is not None:
            connection.close()

except Error as e:
    print("Error while connecting to MySQL:", e)

Little Lemon Manager:
Name: Mario Gollini
EmployeeID: 1

In [25]:
import mysql.connector
from mysql.connector import Error
from mysql.connector.pooling import MySQLConnectionPool

try:
    # Step 1: Define your database configurations as a Python dictionary object called dbconfig.
    dbconfig = {
        "database": "little_lemon_db",
        "user": "root",
        "password": "",
        "host": "localhost",  # Change to your database host if not running locally.
    }

    # Step 2: Create a connection pool named pool_b with two connections.
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)

    
# Step 4: Get a connection from the pool and fetch the employee with the highest salary.
    try:
        connection = pool_b.get_connection()
        query_highest_salary_employee = """
        SELECT Name AS EmployeeName, Role
        FROM Employees
        WHERE Salary = (SELECT MAX(Salary) FROM Employees)
        """
        cursor = connection.cursor()
        cursor.execute(query_highest_salary_employee)
        highest_salary_employee = cursor.fetchone()

        if highest_salary_employee:
            employee_name, employee_role = highest_salary_employee
            print("\nEmployee with the highest salary:")
            print("Name:", employee_name)
            print("Role:", employee_role)
        else:
            print("\nNo employees found.")

    except mysql.connector.errors.PoolError as e:
        print("PoolError:", e)

    finally:
        if connection is not None:
            connection.close()

# ... (Continue with the next part of the report)

        if connection is not None:
            connection.close()

except Error as e:
    print("Error while connecting to MySQL:", e)

Error while connecting to MySQL: Failed adding connection; queue is full

In [27]:
import mysql.connector
from mysql.connector import Error
from mysql.connector.pooling import MySQLConnectionPool

try:
    # Step 1: Define your database configurations as a Python dictionary object called dbconfig.
    dbconfig = {
        "database": "little_lemon_db",
        "user": "root",
        "password": "",
        "host": "localhost",  # Change to your database host if not running locally.
    }

    # Step 2: Create a connection pool named pool_b with two connections.
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)

    # Step 3: Get a connection from the pool and fetch the Little Lemon manager's information.
    try:
        connection = pool_b.get_connection()
        
        query_guests_between_18_and_20 = """
        SELECT COUNT(*) AS NumGuestsBooked
        FROM Bookings
        WHERE BookingSlot BETWEEN '18:00' AND '20:00'
        """
        cursor = connection.cursor()
        cursor.execute(query_guests_between_18_and_20)
        num_guests_booked = cursor.fetchone()

        if num_guests_booked:
            num_guests = num_guests_booked[0]
            print("\nNumber of guests booked between 18:00 and 20:00:", num_guests)
        else:
            print("\nNo guests booked between 18:00 and 20:00.")


    except mysql.connector.errors.PoolError as e:
        print("PoolError:", e)

    finally:
        if connection is not None:
            connection.close()

except Error as e:
    print("Error while connecting to MySQL:", e)

Number of guests booked between 18:00 and 20:00: 10

In [30]:
import mysql.connector
from mysql.connector import Error
from mysql.connector.pooling import MySQLConnectionPool

try:
    # Step 1: Define your database configurations as a Python dictionary object called dbconfig.
    dbconfig = {
        "database": "little_lemon_db",
        "user": "root",
        "password": "",
        "host": "localhost",  # Change to your database host if not running locally.
    }

    # Step 2: Create a connection pool named pool_b with two connections.
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)

    # Step 3: Get a connection from the pool and fetch the Little Lemon manager's information.
    try:
        connection = pool_b.get_connection()
        query_waiting_guests = """
        SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS GuestName, BookingID
        FROM Bookings
        WHERE BookingStatus = 'Waiting'
        ORDER BY BookingSlot
        """
        cursor = connection.cursor()
        cursor.execute(query_waiting_guests)
        waiting_guests = cursor.fetchall()

        if waiting_guests:
            print("\nGuests waiting to be seated with the receptionist:")
            for guest in waiting_guests:
                guest_name, booking_id = guest
                print("Name:", guest_name)
                print("BookingID:", booking_id)
        else:
            print("\nNo guests waiting to be seated.")

    except mysql.connector.errors.PoolError as e:
        print("PoolError:", e)

    finally:
        if connection is not None:
            connection.close()

except Error as e:
    print("Error while connecting to MySQL:", e)

Guests waiting to be seated with the receptionist:
Name: Vanessa McCarthy
BookingID: 3
Name: Marcos Romero
BookingID: 4
Name: Anees Java
BookingID: 7
Name: Anees Java
BookingID: 9
Name: Anees Java
BookingID: 11
Name: Hiroki Yamane
BookingID: 5
Name: Anna Iversen
BookingID: 1
Name: Joakim Iversen
BookingID: 2
Name: Bald Vin
BookingID: 8
Name: Bald Vin
BookingID: 10
Name: Bald Vin
BookingID: 12
Name: Diana Pinto
BookingID: 6

In [42]:
import mysql.connector
from mysql.connector import Error
from mysql.connector.pooling import MySQLConnectionPool

try:
    # Step 1: Define your database configurations as a Python dictionary object called dbconfig.
    dbconfig = {
        "database": "little_lemon_db",
        "user": "root",
        "password": "",
        "host": "localhost",  # Change to your database host if not running locally.
    }

    # Step 2: Create a connection pool named pool_b with two connections.
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)

    # Step 3: Get a connection from the pool.
    try:
        connection = pool_b.get_connection()
        cursor = connection.cursor()

        # Step 4: Call the BasicSalesReport stored procedure and retrieve the results.
        cursor.execute("CALL BasicSalesReport(@total_sales, @average_sale, @min_bill_paid, @max_bill_paid)")

        # Step 5: Fetch the results from the session variables.
        cursor.execute("SELECT @total_sales, @average_sale, @min_bill_paid, @max_bill_paid")
        result = cursor.fetchone()

        # Step 6: Display the results.
        total_sales, average_sale, min_bill_paid, max_bill_paid = result
        print("\nBasic Sales Report:")
        print("Total Sales:", total_sales)
        print("Average Sale:", average_sale)
        print("Minimum Bill Paid:", min_bill_paid)
        print("Maximum Bill Paid:", max_bill_paid)

    except mysql.connector.errors.PoolError as e:
        print("PoolError:", e)

    finally:
        # Step 7: Return the connection back to the pool.
        if connection is not None:
            connection.close()

except Error as e:
    print("Error while connecting to MySQL:", e)

Basic Sales Report:
Total Sales: 329.00
Average Sale: 65.80
Minimum Bill Paid: 37.00
Maximum Bill Paid: 172.00

In [41]:
import mysql.connector
from mysql.connector import Error
from mysql.connector.pooling import MySQLConnectionPool

try:
    # Step 1: Define your database configurations as a Python dictionary object called dbconfig.
    dbconfig = {
        "database": "little_lemon_db",
        "user": "root",
        "password": "",
        "host": "localhost",  # Change to your database host if not running locally.
    }

    # Step 2: Create a connection pool named pool_b with two connections.
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)

    # Step 3: Get a connection from the pool.
    try:
        connection = pool_b.get_connection()

        # Step 4: Create a buffered cursor.
        cursor = connection.cursor(buffered=True)

        # Step 5: Combine the data from the Bookings and the Employee tables and sort the retrieved records.
        query = """
        SELECT B.BookingSlot, CONCAT(GuestFirstName, ' ', GuestLastName) AS GuestName,
               CONCAT('Assigned to: ', Name, ' [', Role, ']') AS EmployeeInfo
        FROM Bookings B
        LEFT JOIN Employees E ON B.EmployeeID = E.EmployeeID
        ORDER BY B.BookingSlot ASC
        LIMIT 3
        """

        cursor.execute(query)

        # Step 6: Display the information of the first three guests.
        print("Upcoming Bookings:")
        for row in cursor:
            booking_slot, guest_name, employee_info = row
            print("[{}] [{}] [{}]".format(booking_slot, guest_name, employee_info))

    except mysql.connector.errors.PoolError as e:
        print("PoolError:", e)

    finally:
        # Step 7: Return the connection back to the pool.
        if connection is not None:
            connection.close()

except Error as e:
    print("Error while connecting to MySQL:", e)

Upcoming Bookings:
[15:00:00] [Vanessa McCarthy] [Assigned to: Giorgos Dioudis [Head Chef]]
[17:30:00] [Marcos Romero] [Assigned to: Fatma Kaya [Assistant Chef]]
[18:00:00] [Anees Java] [Assigned to: John Millar [Receptionist]]